.transaction-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.transaction-list h3 {
  color: var(--text-dark);
  margin-bottom: 5px;
  padding: 4px 8px;
}

.list-container {
  background-color: var(--bg-light);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  overflow: auto;
}

.list-item {
  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 8px;
}

.list-item:last-of-type {
  border: none;
}

.list-item.income {
  border-right: 2px solid var(--green);
}

.list-item.expense {
  border-right: 2px solid var(--red);
}

.trans-item-right {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.trans-label {
  font-weight: 600;
  font-size: 1rem;
}

.trans-amount {
  font-size: 1rem;
  font-weight: 700;
}

.trans-amount.income {
  color: var(--green);
}

.trans-amount.expense {
  color: var(--red);
}

.remove-btn {
  border: none;
  height: 100%;
  width: 20px;
  border-radius: 20%;
  transition: all 0.3s ease;
}

.remove-btn::after {
  content: "\00D7";
  font-weight: 600;
  font-size: 1rem;
}

.remove-btn:hover {
  background-color: hsl(12, 72%, 85%);
  color: var(--red);
}

.empty-state {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  opacity: 0.8;
}