.trans-form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trans-form-container h3 {
  padding: 4px;
  color: var(--text-dark);
}

.form-group label {
  font-size: 1rem;
  font-weight: 600;
}

input {
  width: 100%;
  margin-top: 10px;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid transparent;
}


.form-group input:focus {
  border: 1px solid #555;
  outline: none;
}

.add-trans-btn {
  padding: 8px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  background: var(--primary-gradient);
  transition: all 0.3s ease;
  color: var(--text-light);
}

.add-trans-btn:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.input-error {
  border: 1px solid hsl(0, 72%, 50%);
  background-color: hsl(0, 72%, 95%);
}
