:root {
  --bg-light: hsl(0,0%, 95%);
  --card-bg: hsl(0, 0%, 90%);
  --card-hover: hsl(0, 0%, 85%);

  --text-dark: hsl(0, 0%, 5%);
  --text-light: hsl(0, 0%, 95%);
  --text-gray: hsl(0, 0%, 40%);

  --primary-gradient: linear-gradient(135deg, hsla(103, 51%, 50%, 1) 0%, hsla(355, 75%, 49%, 1) 100%);

  --red: hsl(0, 72%, 42%);
  --green: hsl(100, 75%, 35%);

  --h3-font-size: 1rem;
}

.App {
  background:var(--primary-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: var(--card-bg);
  padding: 20px;
  margin: 20px;
  width: 95%;
  max-width: 700px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header h1 {
  color: var(--text-dark)
}

.date-selectors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  width: 100%;
  gap: 20px;
}

.date-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date-group h4 {
  color: var(--text-gray);
  font-size: 0.8rem;
}

.date-group input[type="date"] {
  background-color: var(--bg-light);
  color: var(--text-gray);
}

.date-group input[type="date"]:focus {
  border: 1px solid var(--text-gray);
  outline: none;
}

.reset-date-btn {
  padding: 6px 8px;
  height: 100%;
  border: none;
  border-radius: 6px;
  background-color: #eabb54;
  font-weight: 600;
  color: var(--text-dark);
  transition: all 0.3s ease;
}

.reset-date-btn:hover {
  background-color: #ecb43c;
  cursor: pointer;
}

.upper-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--bg-light);
  border-radius: 10px;
}

.lower-app {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 450px) {

  .App {
    height: auto;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .lower-app {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .date-group {
    flex-direction: column;
  }

  .reset-date-btn {
    align-self: flex-end;
  }
}

@media (max-width: 400px) {

  .App {
    height: auto;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 12px;
  }

  header h1 {
    font-size: 1.4rem;
  }


  .date-selectors {
    flex-direction: column;
    gap: 6px;
  }

  .date-group {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .reset-date-btn {
    align-self: flex-end;
    font-size: 0.6rem;
    padding: 6px;
  }


}