:root {
  --bg-light: hsl(0,0%, 95%);
  --card-bg: hsl(0, 0%, 90%);
  --card-hover: hsl(0, 0%, 85%);

  --text-dark: hsl(0, 0%, 5%);
  --text-light: hsl(0, 0%, 95%);

  --primary-gradient: linear-gradient(135deg, hsla(103, 51%, 50%, 1) 0%, hsla(355, 75%, 49%, 1) 100%);

  --red: hsl(0, 72%, 42%);
  --green: hsl(100, 75%, 35%);

  --h3-font-size: 1rem;
}

.App {
  background:var(--primary-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: var(--card-bg);
  padding: 20px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header h1 {
  color: var(--text-dark)
}

.upper-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--bg-light);
  border-radius: 10px;
}

.lower-app {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 450px) {

  .container {
    max-width: 90%;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .lower-app {
    flex-direction: column-reverse;
  }
}